$lg: lightgray;

* {
    // outline: 1px gray solid;
    max-width: 1257px;
    margin: auto;
}
html{
    height: 100%;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    background-color: $lg;
}
#theFooter{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem;
}
#myName{
    font-size: 6vw;
}
#myTitle{
    font-size: 3vw;
}
#skillsHeader{
    font-size: 4vw;
    color: #818182;
}
.bottomPadding{
    padding-bottom: 20px;
}
.skillsList{
    background-color: lighten($lg, 3%);
}
.dropdownStyle{
    border-style: double;
    border-width: 5px;
    border-radius: 10px;
    border-color: blue;
    box-shadow: 10px 10px 5px darken($lg, 50%);
    background-color: darken($lg, 15%);
}
.footerColor{
    background:  darken($lg, 3%);
}