$lg: lightgray;

* {
    // outline: 1px gray solid;
    max-width: 1257px;
    margin: auto;
}
html{
    height: 100%;
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    background-color: $lg;
}
#theFooter{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem 1rem 0rem 1rem;
}
.mainPic{
    box-shadow: 7px 7px darken($lg, 10%);
}
#myName{
    font-size: 6vw;
    text-shadow: 2px 2px 2px white;
}
#myTitle{
    font-size: 3vw;
    text-shadow: 2px 2px 2px white;
}
#skillsHeader{
    font-size: 4vw;
    color: #818182;
    text-shadow: -1px 0 darken(#818182, 30%), 0 1px darken(#818182, 30%);
}
.bottomPadding{
    padding-bottom: 20px;
}
.skillsList{
    background-color: lighten($lg, 3%);
    border: 1px solid;
    border-radius: 5px;
    border-color: lighten($lg, 3%);
    box-shadow: -1px 0 darken($lg, 30%), 0 1px darken($lg, 30%);
}
.dropdownStyle{
    border-style: double;
    border-width: 5px;
    border-radius: 10px;
    border-color: blue;
    box-shadow: 10px 10px 5px darken($lg, 50%);
    background-color: darken($lg, 15%);
}
.codingDisplay{
    @extend .workBorder;
    width: 49vw;
    padding: 0;
    margin: 0;
}
.educationDisplay{
    border: 2px solid;
    border-radius: 5px;
    border-color: #6c757d;
    // height: 35vh;
}
.adjustMargin{
    margin-left: 10px;
    margin-right: 30px;
}
.enhanceTitle{
    color: #607d8b;
    text-shadow: 1px 1px 0 white;
}
.workBorder{
    border: 2px solid;
    border-radius: 5px;
    border-color: #6c757d;
    height: 35vh;
}
.documents{
    height: 200px;
    width: 200px;
}
.extraPadding{
    margin: 0 2px 0 2px;
}
.footerButtons{
    border-radius: 5px;
    background-color: gray;
    text-shadow:  1px 1px 0 white;
}
.footerColor{
    // background:  darken($lg, 3%);
    height: 50px;
}