* { max-width: 1257px; margin: auto; }

html { height: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; }

*, *:before, *:after { -webkit-box-sizing: inherit; box-sizing: inherit; }

body { position: relative; margin: 0; padding-bottom: 6rem; min-height: 100%; background-color: lightgray; }

#theFooter { position: absolute; left: 0; right: 0; bottom: 0; padding: 1rem; }

#myName { font-size: 6vw; }

#myTitle { font-size: 3vw; }

#skillsHeader { font-size: 4vw; color: #818182; }

.bottomPadding { padding-bottom: 20px; }

.skillsList { background-color: #dbdbdb; }

.dropdownStyle { border-style: double; border-width: 5px; border-radius: 10px; border-color: blue; -webkit-box-shadow: 10px 10px 5px #545454; box-shadow: 10px 10px 5px #545454; background-color: #adadad; }

.footerColor { background: #cbcbcb; }
